extends ./layout.jade

block titolo
	title Benvenuto

block testata
	h1.text-info Pagina di Benvenuto

block contenuti-principali
	p.text-info
		strong Benvenuto #{nomeCognome}
	p.text-info
		| hotdog render-farm wristwatch lights sunglasses sensory soul-delay chrome assault shanty town numinous paranoid stimulate construct order-flow disposable hacker meta- market youtube modem boat motion car tank-traps industrial grade semiotics jeans DIY nano- face forwards tube bomb military-grade knife digital silent narrative dead sign sprawl towards rifle -ware cyber- nodality human voodoo god gang beef noodles Legba shrine j-pop concrete denim corporation rebar media otaku tower free-market claymore mine urban wonton soup futurity garage sentient plastic physical fluidity grenade singularity
	hr
	p.text-info construct spook sub-orbital warehouse rebar boat denim nodality corporation neon camera apophenia pistol rain car free-market narrative advert hotdog artisanal drone systema range-rover marketing monofilament refrigerator market -space order-flow receding drugs cyber- corrupted katana network tube systemic into girl Shibuya sensory modem dolphin film boy sunglasses skyscraper jeans shanty town beef noodles augmented reality digital vinyl face forwards weathered lights bomb nano- shoes hacker silent tattoo dissident office RAF bicycle long-chain hydrocarbons tank-traps -ware neural post- towards