extends ./layout.jade

block titolo
	title Home Biblioteca

block testata
	h1.text-info Home Biblioteca Online!

block contenuti-principali
	h3 Storia della nostra biblioteca
	div.conmarginesuperiore
		p.text-info silent disposable  cartel long-chain hydrocarbons media kanji Tokyo bomb bicycle apophenia fluidity assault physical range-rover BASE jump franchise corporation Kowloon grenade wonton soup San Francisco computer smart- Legba concrete market drone tower sign digital monofilament gang drugs assassin refrigerator pen vehicle singularity geodesic shrine urban nodal point city cardboard tiger-team office DIY post- neural dead girl semiotics otaku engine weathered dolphin industrial grade carbon voodoo god saturation point human uplink euro-pop tank-traps car boy free-market systema paranoid garage stimulate papier-mache
		img(src='/imgs/biblio1.jpg', class='pull-left img-thumbnail')
		p.text-info systemic long-chain hydrocarbons rifle silent bicycle bomb order-flow sub-orbital footage computer sentient dead geodesic weathered network girl sprawl sensory camera table military-grade youtube garage construct urban stimulate boy hotdog neural Kowloon nodality car dome denim post- beef noodles chrome faded singularity ablative tower San Francisco Tokyo assassin dolphin bridge convenience store voodoo god uplink paranoid Chiba range-rover numinous wonton soup crypto- shoes digital cartel drugs sign human shanty town face forwards meta- modem semiotics pen vinyl nano- franchise plastic skyscraper
		img(src='/imgs/biblio2.jpg', class='pull-right img-thumbnail')
		p.text-info tower into katana faded sub-orbital camera BASE jump industrial grade carbon modem plastic sentient assassin towards city Legba bridge crypto- claymore mine cyber- boy fetishism chrome motion sprawl urban military-grade voodoo god tattoo stimulate Tokyo woman futurity knife refrigerator grenade semiotics realism convenience store RAF wristwatch dome systema dolphin rebar cardboard nodality Shibuya geodesic monofilament math- order-flow pre- -ware engine decay -space physical pen nodal point advert youtube dissident skyscraper corporation jeans bomb digital tanto numinous neural networ
		img(src='/imgs/biblio3.jpg', class='pull-left img-thumbnail')
		p.text-info concrete modem refrigerator pen motion city papier-mache sensory boy knife film -space smart- towards courier vehicle nodality RAF wonton soup rifle dead engine neon weathered artisanal physical beef noodles industrial grade camera skyscraper grenade fluidity singularity tank-traps decay monofilament post- disposable long-chain hydrocarbons boat dissident urban Kowloon claymore mine chrome receding human media range-rover advert neural wristwatch corporation tube nano- car render-farm kanji dolphin voodoo god fetishism man futurity San Francisco market Tokyo youtube nodal point dome faded hacker hotdog