extends ./layout.jade

block titolo
	title Biblioteca!

block testata
	h1.text-info Biblioteca Online!

block contenuti-principali
	p.text-info cartel skyscraper tower tank-traps fluidity lights papier-mache tanto apophenia savant shanty town table drone grenade city BASE jump neon sentient -ware RAF bicycle long-chain hydrocarbons systemic math- dead hotdog convenience store San Francisco bridge spook nano- sensory digital jeans into post- modem physical shrine wristwatch kanji narrative girl film cyber- camera Tokyo numinous silent neural alcohol geodesic futurity crypto- knife free-market boy office weathered fetishism footage media dome Shibuya marketing sub-orbital face forwards hacker drugs otaku assault soul-delay
	