extends ./layout.jade

block titolo
	title Lista Libri

block testata
	h1.text-info Lista Libri!

block contenuti-principali
	if (libri)
		table(class='table table-striped table-bordered')
			thead
			tr
				th Codice
				th Titolo
				th Autore
			each libro in libri
				tr
					td #{libro.codiceisbn}
					td #{libro.titolo}
					td #{libro.autore}