extends ./layout.jade


block titolo
	title Login

block testata
	h1.text-info Login

block contenuti-principali
	form(method='post', action='login')
		div.form-group
			label(for='username') Nome Utente
			input(type='text', class='form-control' name='username', placeholder='Nome Utente')
		div.form-group
			label(for='password') Password
			input(type='password', class='form-control' name='password', placeholder='Password')
		button(type='submit' class='btn btn-default') Login
	if (loginFallito)
		p.text-danger #{loginFallito}
	if (registrazioneOk)
		p.text-success #{registrazioneOk}