ul(class='nav nav-pils')
	li(role="presentation",class="active")
		a(href="/") Home
	li(role="presentation")
		a(href="/pagina1") for each con jade
	li(role="presentation")
		a(href="/pagina2") Pagina 2

