if (!session.utente)
	ul(class='nav nav-pils')
		li(role='presentation')
			a(href='/utente/login') Login
		li(role='presentation')
			a(href='/utente/registrazione') Registrati!
else
	ul(class='nav nav-pils')
		li(role='presentation')
			a(href='/utente/logout') Logout
			li(role='presentation')
				a(href='/libri') Lista Libri
			li(role='presentation')
				a(href='/libri/cerca') Cerca Libro
		if (session.utente.profilo === 'admin')
			li(role='presentation')
				a(href='/libri/nuovo') Nuovo Libro
		
