extends ./layout.jade

block titolo
	title Pagina 1

block testata
	h1.text-info Pagina 1

block contenuti-principali
	p.text-info
		| chrome physical BASE jump nodal point monofilament boat cyber- order-flow wonton soup fetishism Chiba post- faded bomb plastic shanty town gang cartel warehouse marketing smart- apophenia spook engine San Francisco camera -space dissident drugs car denim numinous tube refrigerator disposable garage lights woman semiotics receding long-chain hydrocarbons pen carbon girl dome construct Tokyo beef noodles Kowloon weathered voodoo god assassin systema rain realism table sunglasses network euro-pop claymore mine j-pop narrative into towards skyscraper dolphin courier shoes youtube tower decay vehicle
	hr
	p.text-info knife girl order-flow car boat crypto- wonton soup ablative dolphin artisanal shanty town DIY face forwards Kowloon digital shrine tank-traps systemic euro-pop man fluidity dead network film plastic render-farm rain savant neural monofilament cartel urban sprawl motion San Francisco bomb tattoo drone refrigerator weathered beef noodles military-grade vinyl faded disposable nano- semiotics skyscraper warehouse boy RAF grenade claymore mine apophenia convenience store jeans katana math- silent bicycle -ware assault BASE jump pen media sensory voodoo god human augmented reality Legba kanji paranoid