extends ./layout.jade

block titolo
	title Pagina 2

block testata
	h1.text-info Pagina 2

block contenuti-principali
	p.text-info
		| gang sub-orbital skyscraper city Kowloon faded man nodal point futurity order-flow voodoo god receding car long-chain hydrocarbons tube silent corrupted kanji render-farm chrome smart- bridge Legba tiger-team drone plastic numinous into industrial grade nano- military-grade table denim augmented reality grenade vinyl woman spook monofilament neural assault paranoid San Francisco j-pop shrine dissident bicycle shoes Shibuya tattoo girl office footage stimulate face forwards camera dead media rifle hotdog claymore mine -space tower singularity pistol papier-mache DIY free-market nodality tanto sign lights
	hr
	p.text-info pistol neon boat towards footage Legba fetishism concrete numinous tattoo physical ablative decay assassin sprawl free-market saturation point gang systemic lights human post- into construct engine woman modem courier order-flow girl dissident spook claymore mine katana chrome monofilament nano- sunglasses drugs corporation dome car tanto corrupted dolphin Shibuya receding neural meta- systema vinyl sensory motion crypto- disposable plastic hotdog tank-traps market shoes pen San Francisco skyscraper marketing uplink sentient garage shrine -space cardboard assault tube