extends ./layout.jade

block titolo
	title Pagina 1

block testata
	h1.text-info Utilizzo Delle collezioni con Jade

block contenuti-principali
	p.text-info
		if (libri)
			table(class='table table-striped')
				each libro in libri
					tr
						<td>#{libro.titolo}</td>
						<td>#{libro.autore}</td>
		else
			p.text-info Non ci sono libri in biblioteca

	
	p.text-info knife girl order-flow car boat crypto- wonton soup ablative dolphin artisanal shanty town DIY face forwards Kowloon digital shrine tank-traps systemic euro-pop man fluidity dead network film plastic render-farm rain savant neural monofilament cartel urban sprawl motion San Francisco bomb tattoo drone refrigerator weathered beef noodles military-grade vinyl faded disposable nano- semiotics skyscraper warehouse boy RAF grenade claymore mine apophenia convenience store jeans katana math- silent bicycle -ware assault BASE jump pen media sensory voodoo god human augmented reality Legba kanji paranoid